# Byte-compiled / optimized / DLL files
__pycache__/
.data/
.vector_cache/
*.py[cod]
*$py.class
fold_cv_split.py
logs/
*.log
*.pt
MNIST_FMNIST/checkpoints/FashionMNIST/
MNIST_FMNIST/checkpoints/MNIST/
*/checkpoints/*.pt
*/__pycache__/
MRI/*.zip
MRI/*/*.zip
IMDB/.data/
IMDB/.vector_cache/



